.bottone{
    background-color: #240202;
    color: white;
    padding: 14px 33px;
    text-decoration: none;
    display: block;
    line-height: 50px;
    position: relative;
    font-size: 35px;
}

.tbottone{
    color: #FFFFFF;
    font-family: Merrywheater;
    text-decoration: none;
    font-size: 35px;
}

.bottone::after{
    content: "";
    width: 28px;
    height: 34px;
    color: white;
    display: block;
    position: absolute;
    top: 24px;
    right: 9px;
    transform: translate(-50%);
    background-size: 28px 34px;
    background-image: url("../images/freccia.svg");
}